---
// Font Imports
import "@fontsource-variable/stix-two-text";

// CSS Imports
import "sanitize.css";
import "../styles/index.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Call for Participation – Creative Pattern Recognition</title>
	</head>
	<body>
		<div class="p5-wrapper"></div>
		<main class="content">
			<h1>Creative Pattern Recognition</h1>

			<p>Dear artist/designer/researcher/critical thinker/scientist</p>
			<p>
				Creative Pattern Recognition is a publication and platform on artificial
				intelligence in art and design practice. The publication reflects on the
				current state of AI in art and design and explores practices, tools and
				methodologies for co-creation. It aims to demystify AI and lower the
				barrier of entry for aspiring artists, designers and thinkers. It also
				consolidates the current discourse and knowledge around AI in art and
				design, making visible the tacit knowledge that can help answer more
				embedded questions such as that of artificial creativity.
			</p>

			<p>
				Throughout this text, artificial intelligence (AI) is used
				interchangeably with machine learning (ML).
			</p>

			<h2>Your ways of participation</h2>
			<p>
				<b>Writing an essay (preferred):</b><br />
				I would like to invite you to participate with an essay reflecting on your
				practice and your thoughts and views on AI. The following questions may serve
				as a guide or inspiration for your writing:
			</p>

			<ul>
				<li>
					Why is AI interesting for your artistic practice/work? What did you
					hope to achieve when you decided to work with AI?
				</li>
				<li>
					How do you work with AI algorithms? What are the roles of you and AI
					in your collaboration?
				</li>
				<li>
					What workflow/methodology/tools do you use to create this
					collaboration? Where do these methods appear in your work?
				</li>
				<li>
					What do you think your (artistic) practice reveals about the
					"creativity" embedded in the algorithms used in AI?
				</li>
				<li>How does AI fit into the broader context of (art) history?</li>
				<li>
					How does your work reflect (critically) on the current state of AI?
				</li>
			</ul>

			<p>
				I would like to point out that these questions should serve as helpful
				inspiration, but it is not necessary to answer them. In the end, you are
				free to write what you think is best for the publication.
			</p>

			<p>
				In addition, I would encourage you to use images in your essays to help
				present your ideas better. Especially, references to your previous
				(artistic) work are always welcome.
			</p>

			<p>
				<b>Participating in an interview:</b><br />
				If participating with an essay is not suitable for you I can offer you an
				interview, that focuses on similar questions as an alternative.<br />
				If you prefer this, please write me an <a
					href="mailto:hello@francesco-scheffczyk.de">e-mail</a
				> to schedule an appointment.
			</p>

			<h2>About the publication</h2>

			<p>
				The publication will exist in a hybrid form. This means that it will
				exist as a website and as a printed book. Using web-to-print technology,
				the printed version will be generated based on the web version. Because
				web technology was not designed to create print layouts and documents,
				this creates friction and perhaps even errors. The friction created by
				the digital and physical existence of the publication metaphorically
				represents the friction and differences between human creativity and
				artificial creativity, between human intelligence and artificial
				intelligence.
			</p>

			<p>
				In addition, AI will also play a critical role in the editorial
				decisions that are made in the publication. Commenting on the current
				overuse of chat interfaces as the main way to interact with generative
				AI, the publication will also exist as a chat interface. This allows the
				model to curate the content of the publication based on search queries
				provided by the reader. Using a technology called Retrieval-Augmented
				Generation (RAG), the model can index and understand the publication and
				navigate the reader to articles that are relevant to their query.
			</p>

			<p>
				Because you, the participant, form the knowledge base that the AI models
				refer to, you control the behaviour and responses of the model. Keep
				this in mind as you write, and feel free to think of your writing as an
				experimental approach to creating moments of surprise for both the AI
				model and the readers. ;)
			</p>

			<h2>Financial reimbursement</h2>

			<p>
				This project is part of my current master studies at HfK Bremen and
				therefore financially not well supported. Accordingly, no financial
				compensation can be guaranteed.
			</p>

			<p>
				Nevertheless, I am currently in ongoing project funding applications and
				discussions with publishers. If enough funding is acquired or an
				agreement is reached with a publisher, subsequent financial compensation
				will be payed.
			</p>

			<h2>Timeline</h2>

			<p>Accept or cancel participation: 5th February</p>

			<p>Delivery of the essay or interview: 2nd April</p>

			<p>If you have any further questions feel free to reach out!</p>

			<h2>Legal notices</h2>

			<p>This website does not use any cookies.</p>

			<p>
				<a href="https://www.francesco-scheffczyk.de/en/imprint">Imprint</a>
			</p>
		</main>
	</body>
</html>
