---
// Font Imports
import "@fontsource/crimson-text";

// CSS Imports
import "sanitize.css";
import "../styles/index.scss";
---

<script>
	const participants = [
		"artist",
		"designer",
		"researcher",
		"critical thinker",
		"scientist",
		"hacker",
	];
	let currentIndex = 0;

	setInterval(() => {
		const participant = participants[currentIndex];
		document.getElementById("participants").innerHTML = participant;
		currentIndex = (currentIndex + 1) % participants.length;
	}, 1500);
</script>
<script src="../scripts/gradient.js"></script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Call for Participation – Creative Pattern Recognition</title>

		<script src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.js"></script>
	</head>
	<body>
		<div id="p5-wrapper"></div>
		<main class="content">
			<h1 class="content__title">Creative Pattern Recognition</h1>

			<div class="content__section">
				<div class="content__section-text">
					<p class="mobile-indent">
						Dear <span id="participants">participant</span>,
					</p>
					<p>
						The research project <i><u>Creative Pattern Recognition</u></i> focuses
						on artificial intelligence in art and design practices. One outcome of
						the project should become an experimental and hybrid publication which
						reflects on the current state of AI in art and design and explores practices,
						tools and methodologies for working (collaboratively) with AI. It aims
						to demystify AI and lower the barrier of entry for aspiring artists,
						designers and thinkers. It also consolidates the current discourse and
						knowledge around AI in art and design, making the tacit knowledge visible
						that can help answer more embedded questions such as that of "artificial
						creativity". This project is part of my current master studies in the
						<a href="https://digitalmedia-bremen.de/">Digital Media program</a> at
						the
						<a href="https://www.hfk-bremen.de/en"
							>University of the Arts Bremen</a
						>.
					</p>
					<p>
						Throughout this text, artificial intelligence (AI) is used
						interchangeably with machine learning (ML).
					</p>
				</div>
			</div>

			<div class="content__section">
				<div class="content__section-title">
					<h2 class="mobile-indent">Research thesis</h2>
				</div>
				<div class="content__section-text">
					<p>
						The research project follows the thesis that by observing and
						capturing creative practices and their methodologies around AI, the
						entry barrier to this topic is lowered for aspiring artists,
						designers and thinkers. The lowered barrier helps to create a better
						understanding of a AI, not only for aspiring creatives, but for any
						observer of it.
					</p>
					<p>
						In addition, the research project argues that by examining creative
						practices around AI, the tacit knowledge created in the process is
						made visible, and through this, more embedded, philosophical
						questions, such as that of "artificial creativity", are naturally
						discussed.
					</p>
					<p>
						Finally, by documenting the creative practices, a time capsule is
						created that encapsulates the current discourse around AI in art and
						design.
					</p>
					<p>
						This publication is the first approach to this research thesis and I
						warmly invite you to participate. You can read more about it below.
					</p>
				</div>
			</div>

			<div class="content__section">
				<div class="content__section-title">
					<h2 class="mobile-indent">About the publication</h2>
				</div>
				<div class="content__section-text">
					<p>
						The publication will exist in a hybrid form. This means that it will
						exist first as a website and then later as a printed publication.
						Using web-to-print technology, the print version is created based on
						the web version. Since web technology was not designed to create
						print layouts and documents, friction and perhaps even errors are
						created. This friction, created by the transfer of the pbulication
						from the digital to the physical, metaphorically represents the
						friction between human creativity and artificial creativity, between
						human intelligence and artificial intelligence.
					</p>

					<p>
						In addition, AI will also play a critical role in the editorial
						decisions that are made in the publication. Given the current
						overuse of chat interfaces as the main way to interact with
						generative AI, the publication will also exist as a chat interface.
						By making the publication a database to which the model has access
						to, the model will be able to curate the content of the publication
						based on search queries provided by the reader. Using a technology
						called <a
							href="https://proceedings.neurips.cc/paper/2020/file/6b493230205f780e1bc26945df7481e5-Paper.pdf"
							>Retrieval-Augmented Generation (RAG)</a
						>, the model can index and "understand" the publication and navigate
						the reader to articles relevant to their query.
					</p>

					<p>
						Because you, the participant, create the knowledge base that the AI
						model refers to, you are in control of the model's behaviour and
						responses. Keep this in mind as you write, and feel free to think of
						your writing as an experimental approach to create moments of
						surprise for both the AI model and the readers 😉.
					</p>
				</div>
			</div>

			<div class="content__section">
				<div class="content__section-title">
					<h2 class="mobile-indent">Your ways of participation</h2>
				</div>
				<div class="content__section-text">
					<p>
						Write an essay (preferred):<br />
						I would like to invite you to participate with an essay reflecting on
						your practice and your thoughts and views on AI. The following questions
						may serve as a guide and inspiration for your writing:
					</p>

					<ul>
						<li>
							Why is AI interesting for your (artistic) practice/work? What did
							you hope to achieve when you decided to work with AI?
						</li>
						<li>
							What workflow/methodology/tools do you use to work with AI? What
							is your role and the role of AI in your collaboration?
						</li>
						<li>
							Reflecting (critically) on your practice, what do you think it
							reveals about the risks and dangers, as well as the opportunities,
							that AI presents to art and design, and to society at large?
						</li>
						<li>
							What does your practice reveal about the current state of AI?
						</li>
						<li>
							What do you think your (artistic) practice reveals about the
							"creativity" embedded in the algorithms used in AI?
						</li>
						<li>How does AI fit into the broader context of (art) history?</li>
					</ul>

					<p>
						I would like to point out that these questions should serve as
						helpful inspiration, but it is not necessary to answer all of them.
						However, a connection to the above-mentioned research thesis should
						be roughly visible. In the end, you are free to write what you think
						is best for you. Furthermore, I would like to encourage you to use
						any kind of media (images, videos, audio, etc.) in your essays in
						order to present your ideas in the best possible way. In particular,
						references to your previous (artistic) work are always welcome.
					</p>
					<p>
						The form of the essay is not fixed. It can be an academic essay, but
						it can also be artistic, biographical or descriptive. The essay
						should be between 800 and 5000 words and in english. <b
							>Writing an essay is the preferred form of entry.</b
						>
					</p>

					<p class="mt-1">
						Participation in an interview:<br />
						If participating with an essay is not suitable for you, I can offer you
						an interview focusing on similar questions as an alternative. If you
						prefer this option, please <a
							href="mailto:hello@francesco-scheffczyk.de">email</a
						> me to make an appointment.
					</p>
				</div>
			</div>

			<div class="content__section">
				<div class="content__section-title">
					<h2 class="mobile-indent">Financial reimbursement</h2>
				</div>
				<div class="content__section-text">
					<p>
						Unfortunately, as this project is part of my current master studies
						it is financially limited. Therefore, no financial compensation can
						be guaranteed.
					</p>

					<p>
						However, I am currently in the process of applying for project
						funding and negotiating with publishers. If sufficient funding is
						obtained or an agreement with a publisher is reached, financial
						compensation should be paid at a later date.
					</p>
				</div>
			</div>

			<div class="content__section">
				<div class="content__section-title">
					<h2 class="mobile-indent">Timeline</h2>
				</div>
				<div class="content__section-text">
					<p class="no-indent">
						Accept or cancel your participation: <i>5th February</i>
					</p>

					<p class="no-indent">
						Submission of essay or interview: <i>2nd April</i>
					</p>

					<p class="no-indent">
						Launch of web publication and exhibition at the University of Arts
						Bremen: <i>2nd May</i>
					</p>
				</div>
			</div>

			<div class="content__section">
				<div class="content__section-title">
					<h2 class="mobile-indent">Further questions</h2>
				</div>
				<div class="content__section-text">
					<p class="no-indent">
						Please feel free to email me at <a
							href="mailto:hello@francesco-scheffczyk.de"
							>hello@francesco-scheffczyk.de</a
						> if you have any further questions.
					</p>
				</div>
			</div>

			<div class="content__section">
				<div class="content__section-title">
					<h2 class="mobile-indent">Legal notices</h2>
				</div>
				<div class="content__section-text">
					<p class="no-indent">This website does not use any cookies.</p>

					<p class="no-indent">
						<a href="https://www.francesco-scheffczyk.de/en/imprint">Imprint</a>
					</p>
				</div>
			</div>
		</main>
	</body>
</html>
